<body>
    <nav>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/Blogs">
                <li>Blogs</li>
            </a>
            <a href="/List">
                <li>List</li>
            </a>
            <a href="/Login">
                <li>Login</li>
            </a>
        </ul>
    </nav>