<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<img src="img/banner2.jpg" style="object-fit: none;display: flex;" width="100%" alt="">
    <div class="container">
        <div class="cards-section">
            <h1><center>Types Of Blogs</center></h1>
            <ul class="cards">
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image">
                            <img src="Img/AIBlog.jpg" alt="">
                        </div>
                        <div class="card_content">
                            <h4>Artificial Intelligence Blogs</h4>
                            <button>View</button>
                        </div>
                    </div>
                </li>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image">
                            <img src="Img/FashionBlog.jpg" alt="">
                        </div>
                        <div class="card_content">
                            <h4>Fashion Blogs</h4>
                            <button>View</button>
                        </div>
                    </div>
                </li>

                <li class="cards_item">
                    <div class="card">
                        <div class="card_image">
                            <img src="Img/TechBlogs.jpg" alt="">
                        </div>
                        <div class="card_content">
                            <h4>Tech Blogs</h4>
                            <button>View</button>
                        </div>
                    </div>
                </li>
                
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image">
                            <img src="Img/FoodBlog.jpg" alt="">
                        </div>
                        <div class="card_content">
                            <h4>Food Blogs</h4>
                            <button>View</button>
                        </div>
                    </div>
                </li>
        </div>        
    </div>
    <img src="img/BannerwithText.jpg" width="100%" alt="">
    <div class="text">
        <h1><center>What is Blog</center></h1>
        <p>
            Blogs in their early form were called “web logs,” a simple means of annotating shared links found on the web. Today, blogs serve a wide variety of functions from topical opinionated blogs on subjects like politics or science to commercial blogs posting news or promotions.

Blogs typically consist of frequent posts organized chronologically that are usually written by an individual whose personality or perspective emerges through their writing. Group blogs consist of multiple authors writing on a given subject that are also identified clearly. Blogs are usually public, but can be made private to be viewed by select readers. Space for comments from readers can make blog posts a site for discussion.

Twitter is an example of a popular microblog where posts are restricted to a specified number of characters. It is designed for quick and succinct updates, reflecting immediacy.

Blogs are good for projects requiring constant updates consisting of independent, self-contained stories – such as news updates or magazine-style posts.


        </p>
    </div>
<%- include('layouts/footer'); -%>
    